{
    "android": {
        "debug": {
            "keystore": "../quasar-debug-key.jks",
            "storePassword": "**********",
            "alias": "quasar-debug",
            "password" : "**********",
            "keystoreType": "jks"
        },
        "release": {
            "keystore": "../quasar-release-key.jks",
            "storePassword": "**********",
            "alias": "quasar-release",
            "password" : "**********",
            "keystoreType": "jks"
        }
    }
}